resources/ZGHTKUE_ANFBL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="char10">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char20">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char30">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char4">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char40">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char8">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="8"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="clnt3">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="date">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"/>
					<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
			<xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
			<xsd:simpleType name="char30">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="30"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ZghtkueManfSAif">
				<xsd:sequence>
					<xsd:element name="MANDT" type="n0:clnt3"/>
					<xsd:element name="WERKS" type="n0:char4"/>
					<xsd:element name="ANFRD" type="n0:char10"/>
					<xsd:element name="ID" type="tns:char30"/>
					<xsd:element name="BEZEI" type="n0:char40"/>
					<xsd:element name="DATUM" type="n0:date"/>
					<xsd:element name="FALNR" type="n0:char10"/>
					<xsd:element name="KLINIK" type="n0:char30"/>
					<xsd:element name="GEBAEUDE" type="n0:char20"/>
					<xsd:element name="STATION" type="n0:char10"/>
					<xsd:element name="GESCHOSS" type="n0:char10"/>
					<xsd:element name="ROOMNR" type="n0:char8"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZghtkueManfTAif">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZghtkueManfSAif" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ZghtkueAnfblManf">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="IvStation" type="n0:char10"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZghtkueAnfblManfResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EtManf" type="tns:ZghtkueManfTAif"/>
						<xsd:element name="EvReturn" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZghtkueAnfblManf">
		<wsdl:part name="parameters" element="tns:ZghtkueAnfblManf"/>
	</wsdl:message>
	<wsdl:message name="ZghtkueAnfblManfResponse">
		<wsdl:part name="parameters" element="tns:ZghtkueAnfblManfResponse"/>
	</wsdl:message>
	<wsdl:portType name="ZGHTKUE_ANFBL">
		<wsp:Policy>
			<wsp:PolicyReference URI="#IF_IF_ZGHTKUE_ANFBL"/>
		</wsp:Policy>
		<wsdl:operation name="ZghtkueAnfblManf">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_IF_OP_ZghtkueAnfblManf"/>
			</wsp:Policy>
			<wsdl:input message="tns:ZghtkueAnfblManf"/>
			<wsdl:output message="tns:ZghtkueAnfblManfResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZGHTKUE_ANFBL" type="tns:ZGHTKUE_ANFBL">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN_BN_ZGHTKUE_ANFBL"/>
		</wsp:Policy>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="ZghtkueAnfblManf">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="service">
		<wsdl:port name="ZGHTKUE_ANFBL" binding="tns:ZGHTKUE_ANFBL">
			<soap:address location="http://sap-server:8000/sap/bc/srt/rfc/sap/zghtkue_anfbl/006/zghtkue_anfbl/zghtkue_anfbl"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
